@charset "UTF-8";
.main-bg{
	position:absolute; top:2%; left:5%; width:90%; height:115%
}
.menu-bar{
	position:absolute; top:20%; left:8%; width:90%
}
.menu-content{
	font-family:'Nanum Pen Script', cursive;
	font-size:22px;
	font-weight:bold;
}
.main-content{
	width:70%; position:relative; margin-top:10%; margin-left:15%;
}
.bg-img{
	width:100%; height:115%;
}
.pastel-melon-250{
	display: table-cell;
	text-align:center;
	vertical-align:middle;
	width: 250px;
 	height: 140px;
	background-image:url("/resources/image/pastel-melon.png");
	background-size: 250px
}
.pastel-yellow-200{
	display: table-cell;
	text-align:center;
	vertical-align:middle;
	width: 200px;
 	height: 110px;
	background-image:url("/resources/image/pastel-yellow.png");
	background-size: 200px
}
.pastel-yellow-250{
	display: table-cell;
	text-align:center;
	vertical-align:middle;
	width: 250px;
 	height: 140px;
	background-image:url("/resources/image/pastel-yellow.png");
	background-size: 250px
}
.pastel-peach-200{
	display: table-cell;
	text-align:center;
	vertical-align:middle;
	width: 200px;
 	height: 110px;
	background-image:url("/resources/image/pastel-peach.png");
	background-size: 200px
}
.pastel-peach-250{
	display: table-cell;
	text-align:center;
	vertical-align:middle;
	width: 250px;
 	height: 140px;
	background-image:url("/resources/image/pastel-peach.png");
	background-size: 250px
}
.pastel-peach-300{
	display: table-cell;
	text-align:center;
	vertical-align:middle;
	width: 300px;
 	height: 180px;
	background-image:url("/resources/image/pastel-peach.png");
	background-size: 300px
}
.pastel-cloud-250{
	display: table-cell;
	text-align:center;
	vertical-align:middle;
	width: 250px;
 	height: 140px;
	background-image:url("/resources/image/pastel-cloud.png");
	background-size: 250px
}
.pastel-cloud-300{
	display: table-cell;
	text-align:center;
	vertical-align:middle;
	width: 300px;
 	height: 180px;
	background-image:url("/resources/image/pastel-cloud.png");
	background-size: 300px
}

.cell{display: table-cell;}
.login-notice{margin-top:40px; width:60%; height:25%; border: 1px solid #FFFF55; background-color:#FFFFCC;  box-shadow: 3px 3px 3px 2px gray;}
.bg-white{background-color:white}

.w100p{width:100%}

.align-center{text-align:center}
.align-right{text-align:right}
.align-left{text-align:left}

.vertical-top{vertical-align:top}
.vertical-middle{vertical-align:middle}
.vertical-bottom{vertical-align:bottom}

.fl-r{float:right;}
.fl-l{float:left;}
.fl-c{float:center;}

.mt-10{margin-top:10px;}
.mt-20{margin-top:20px;}
.mt-30{margin-top:30px;}
.mt-40{margin-top:40px;}
.mt-50{margin-top:50px;}
.mt-100{margin-top:100px;}

.ml-a{margin-left:auto}
.ml-5{margin-left:5px}
.ml-10{margin-left:10px}

.fs-5{font-size:5px}
.fs-10{font-size:10px}
.fs-15{font-size:15px}
.fs-20{font-size:20px}
.fs-25{font-size:25px}
.fs-30{font-size:30px}

.color-black{color:black;}
.color-blue{color:blue;}
.color-red{color:red}