<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.cash.restmapper.MemberRestMapper">
	<!-- id 중복 확인 -->
	<select id="selectMemberId" resultType="String" parameterType="String">
		SELECT 
			id 
		FROM member
		WHERE id=#{id}
	</select>
	
	<!-- id pw 확인 -->
	<select id="selectMemberCk" resultType="String" parameterType="kr.co.gdu.cash.vo.Member">
		SELECT 
			id 
		FROM member
		WHERE id=#{id} AND pw=#{pw}
	</select>
</mapper>