<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.cash.mapper.CashbookMapper">
	<!-- 최근 3개월 총 수입,지출 -->
	<select id="selectCashInOutList" resultType="java.util.Map">
		SELECT 
		   YEAR(cashbook_date) yyyy, MONTH(cashbook_date) mm
		   ,SUM((case when cashbook_kind = '수입' then cashbook_price ELSE 0 END)) AS "수입"
		   ,SUM((case when cashbook_kind = '지출' then cashbook_price ELSE 0 END)) AS "지출"
		   ,SUM((case when cashbook_kind = '수입' then cashbook_price ELSE 0 END)-
			(case when cashbook_kind = '지출' then cashbook_price ELSE '' END)) AS "합계"
		FROM cashbook
		GROUP BY mm
		ORDER BY mm DESC LIMIT 3
	</select>
	<!-- 월별 총 수입,지출 -->
	<select id="selectSumCashbookPriceByInOut" parameterType="java.util.Map" resultType="int">
		SELECT NVL(SUM(cashbook_price), 0)
		FROM cashbook
		WHERE cashbook_kind = #{cashbookKind}
		AND YEAR(cashbook_date) = #{currentYear}
		AND MONTH(cashbook_date) = #{currentMonth}
	</select>
	<!-- 해당 월의 모든 수입, 지출 내역 -->
	<select id="selectCashListByMonth" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			cashbook_kind cashbookKind, 
			SUM(cashbook_price) cashbookPrice,
			day(cashbook_date) day
		FROM cashbook
		WHERE YEAR(cashbook_date) = #{currentYear}
		AND MONTH(cashbook_date) = #{currentMonth}
		GROUP BY day(cashbook_date), cashbookKind
	</select>
	<!-- 해당 일의 모든 수입, 지출 내역 -->
	<select  id="selectCashListByDay" parameterType="java.util.Map" resultType="kr.co.gdu.cash.vo.Cashbook">
		SELECT 
			cashbook_id cashbookId, 
			cashbook_kind cashbookKind, 
			category_name categoryName, 
			cashbook_price cashbookPrice, 
			cashbook_content cashbookContent
		FROM cashbook
		WHERE YEAR(cashbook_date)= #{currentYear}
		AND MONTH(cashbook_date)= #{currentMonth}
		AND DAY(cashbook_date)= #{currentDay}
	</select>
	
	<!-- 해당 일에 새로운 내역 추가 -->
	<insert id="insertCashbook" parameterType="kr.co.gdu.cash.vo.Cashbook">
		INSERT INTO cashbook(
			category_name, 
			cashbook_content, 
			cashbook_kind, 
			cashbook_price, 
			cashbook_date, 
			create_date, 
			update_date
		)VALUES(
			#{categoryName},
			#{cashbookContent},
			#{cashbookKind},
			#{cashbookPrice},
			#{cashbookDate},
			NOW(),
			NOW()
		)
	</insert>
	
	<!-- 내역 한개 삭제 -->
	<delete id="deleteCashbook" parameterType="int">
		DELETE FROM cashbook WHERE cashbook_id = #{cashbookId}
	</delete>
	
	<!-- 내역 한개 불러오기(상세보기) -->
	<select  id="selectCashbookOne" parameterType="int" resultType="kr.co.gdu.cash.vo.Cashbook">
		SELECT 
			cashbook_id cashbookId, 
			cashbook_kind cashbookKind, 
			category_name categoryName, 
			cashbook_price cashbookPrice, 
			cashbook_content cashbookContent
		FROM cashbook
		WHERE cashbook_id=#{cashbookId}
	</select>
	<!-- 내역 한개 수정 -->
	<update id="updateCashbook" parameterType="kr.co.gdu.cash.vo.Cashbook">
		UPDATE cashbook SET 
			cashbook_kind = #{cashbookKind},
			category_name = #{categoryName},
			cashbook_price = #{cashbookPrice}, 
			cashbook_content = #{cashbookContent},
			update_date = NOW()
		WHERE cashbook_id = #{cashbookId}
	</update>
</mapper>